head{
  margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}
body{
    min-height: 100vh;
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
   
   
  }
  nav{
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.641);
    margin-top: 0px;
    background-size:cover ;
    background-repeat: round;
    background-position: center;
    
    height: 150px;
    position:sticky;
    top: 0px;
    float: none;
  }
  nav ul{
    width:auto;
    height: 120px;
    list-style:none;
    display:flex;
   justify-content: inline-end;
    align-items: center;
    gap: -0px;
    
  }
  nav li{
    height: 30px;
    margin-top: 5px;
    margin-right: 3%;
 
  }
  nav a {
    height: 100%;
    padding: 0px 20px;
    margin:  0px 0px ;
    font-size: 25px;
    text-decoration: none;
    /* align-content: center; */
    color:white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid blue; 
    border-radius: 10px;
    background-repeat:round;
  
  } 
  #search-icon-navbar{
    height: 30%;
    padding: 0px 20px;
    margin:  0px 0px 10px ;
    font-size: 25px;
    text-decoration: none;
    align-content: center;
    color:rgb(157, 17, 17);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid blue; 
    border-radius: 10px;
    background-repeat:round;
    width: 60px;
  }
  label {
    font-family: sans-serif;
    font-size: 1rem;
    
  }

  .drop-down-menu, .sidebar .drop-down-menu {
    margin-top: 1px;
    display:none;
    background-color:rgba(255, 255, 255, 0.974);
    border-radius: 15px;
    text-align: center;
    float:unset;
    
  }

  #drop-down-a{
    border: none;
    color: black;
    
  }
  #show-drop-down:hover{
    .drop-down-menu{
      display: block;
    }
  }
  .menu-button{
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid blue;
    border-radius: 15px;
    #hamburger-menu{
     padding-top: 8px;
    }
    

  }

  

   nav li:first-child{ 
   margin-right: auto;
   
  }
  .sidebar{
    position:absolute;
    top: 0%;
    right: 0%;
    height: 50vh;
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.588);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    
    
  }

  .logo{
    height: 100px;
    width: 150px;
    margin-top: -20px;
   
  }
 
  input, select, textarea{
    color:white;
    font-size: large;
}
  
  .search-icon-sidebar{
    height: 33%;
    padding: 0px 20px;
    margin:  0px 0px ;
    font-size: 25px;
    text-decoration: none;
    align-content: center;
    color:white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid blue; 
    border-radius: 10px;
    background-repeat:round;
    width: 60px;
  }

.search-bar1{
    display: flex;
    margin-right: 50px;
    margin-top: 0px;
    border: 0px solid blue;
    border-radius: 15px;
    height: 40px;
    width: 270px;
    position:static;
    
    #input1{
      height: 40px;
      background: rgba(224, 32, 32, 0);
      padding:0px 0px 0px;
      display:flex;
      width: 220px;
      border-radius: 15px;
      border: 1px solid;
      outline: none;
    
    } 
    .button1{
      height: 40px;
      margin-left: 49px;
      padding: 0px 0px 0px;
      width: 40px;
      display: flex;
      margin-left:0px ;
      width: 50px;
      color: rgba(127, 255, 212, 0);
      border: none;
      outline: none;
      background-color: rgba(251, 251, 233, 0.196);
      border-radius: 15px;
      border: none;
      outline: none;
    }
   
  }
 

  @media(max-width: 20000px){
    .search-bar2{
      display:none;
    }
  }


  
  .sidebar li{
    width: 100%;
  
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }





  @media(max-width: 1300px){
    .hideOnMobile{
        display: none;
        
    }
    
  .menu-button{
    display: block;
    
  }
  .search-bar2{
    display:none;
  }
  .sidebar{
    height:auto;
    width: auto;
    border: none;
    gap: 2rem;
    color: black;
  }
  .search-bar2{
    margin-top: -50px;
    margin-right: 40px;
    
    
   }
    
  }






  
  @media  (max-width: 500px){
    
  #hidesearch{
    position: absolute;
    top: 70px;
    margin-left: 50px;
    border: 2px solid blue;
  }
  nav ul{
   margin-right: 0%;
   
  }
  nav li{
    margin-right:30px;
    
    margin-top: 0px;
  }
  .search-bar1{
    display: none;

  }
  .search-bar2{
    display: flex;
    margin-left: -20px;
    margin-top: 100px;
    border: 1px solid blue;
    height: 30px;
    width: 150px;
    border-radius: 15px;
   
    
}
 #input2{
    height: 20px;
    background: rgba(227, 113, 113, 0);
    padding-top: 5px;
    display: flex;
    width: 103px;
    
    border: none;
    outline: none;

 } 
 .button2{
    height: 30px;
    margin-left: 57px;
    padding: 0px 0px 0px;
    width: 40px;
    display: flex;
    margin-left:0px ;
    width: 40px;
    color: rgba(127, 255, 212, 0);
    border: none;
    outline: none;
    background-color: rgba(142, 142, 11, 0);

    
  }
  .sidebar{
    height: auto;
    width: 140px;
    gap: 0.5rem;
  }
  .logo{
    margin-left: -40px;
    height: 80px;
    margin-top: -40px;
    width: 100px;
    
   }
  
  .menu-button{
   margin-top: -50px;
  }
  nav{
    height: 90px;
    margin: 0px;

   }
   .search-bar2{
    margin-top: -50px;
    margin-right: 40px;
    
    
   }
  
 
}   




@media  (max-width: 400px){
   nav{
    height: 90px;
    margin: 0px;

   }
   
   /* .menu-button{ 
    margin-left:;
    
   }*/
   nav li{
    
    margin-bottom:63px;
   }
   .search-bar2{
    margin-top: -50px;
    margin-right: 40px;
    
    
   }
   .sidebar{
    height: auto;
    width: auto;
    
   }
   nav a{
    background-color: red;
    justify-content: space-evenly;
   }
   .logo{
    margin-left: -40px;
    height: 80px;
    margin-top: -10px;
    width: 100px;
    
   }
   .menu-button{
    margin-top: -50px;
   }
   
   

}