


.greet h1{
  text-align:center;
  font-size: 40px;
  text-shadow: 3px 3px 5px pink;
  padding: 20px,30px;
}

.menu{
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-between;
  
  h2{
    cursor: pointer;
    border-radius: 50%;
    color: black;
    a{
      color:black;
      text-decoration: none;
    }
  }
}

/* menu hovers */
h2:hover #a1{
  color: gold;
  font-size: 40px;
  
}
h2:hover #a2{
  color: gold;
  font-size: 40px;
}

h2:hover #a3{
  color: gold;
  font-size: 40px;
}

h2:hover #a4{
  color: gold;
  font-size: 40px;
}
h2:active #a1{
  color:grey ;
}


body{
  background-size: auto;
  background: url(https://cc-prod.scene7.com/is/image/CCProdAuthor/marquee-special-offers-desktop-1920x1344?$pjpeg$&jpegSize=300&wid=1920);
}

.intro p{
  text-align: center;
  font-size: 25px;

}

.box0{
  width:auto;
  height: 150px;
  background: linear-gradient(center, green,blue,pink,aqua);
  box-shadow: 0px -0px 10px red;
}

.info{
  font-size: xx-large;
  display: flex;
  gap: 50rem;
  text-align: center;
}

.boxses{
 padding: 0rem 3.3rem ;
 
 
}

.box{
  width: 400px;
  height: 450px;
  background: linear-gradient( to bottom right, green,yellow,purple);
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block; 
  margin: 2rem;
}

.box1{
  width: 400px;
  height: 450px;
  background: linear-gradient(center, green,blue,pink,aqua);
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  display: inline-block;
  cursor: pointer;
  margin: 2rem;
}

.box2{
  width: 400px;
  height: 450px;
  background: linear-gradient( to bottom right,green,red,yellow,purple);
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  margin: 2rem;
  margin-top: 10%; 
}

.box3{
  width: 400px;
  height: 450px;
  background: linear-gradient( to bottom right,royalblue,red,yellow,brown );
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  display: inline-block;
  cursor: pointer;
  margin: 2rem;
}

.box4{
  width: 400px;
  height: 450px;
  background: linear-gradient( to center,green,purple,white,black );
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  margin: 2rem;
}

.box5{
  width: 400px;
  height: 450px;
  background: linear-gradient( to bottom left,red,yellow,orange );
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  margin: 2rem;

}


.boxtext h1,.boxtext1 h1,.boxtext2 h1,.boxtext3 h1,.boxtext4 h1,.boxtext5 h1{
  text-align: center;
  font-size: xx-large;
  padding: 8%;
  color:black;
  text-shadow: 0px 0px 10px,pink,;
} 

.box p,.box1 p,.box2 p,.box3 p,.box4 p,.box5 p{
  
  font-size: x-large;
  font-weight: 700px;
  line-height: 40px;
  padding: 10%;
  text-align: center;
  padding: .5rem 1rem;
}

.box1 button,.box2 button,.box3 button,.box4 button,.box5 button{
  font-size: 20px;
  border: 1px solid white; 
  padding: .5rem 1.5rem; 
  border-radius: 50px; 
  cursor: pointer ;
  background: none; 
  color:blue;
  margin-left: 63%;
}

.box button{
  font-size: 20px;
  border: 1px solid white; 
  padding: .5rem 1.5rem; 
  border-radius: 50px; 
  cursor: pointer ;
  background: none; 
  color:blue;
  margin-left:  63%;
  margin-top: 20%;
}

.button button:hover, .button1 button:hover,.button2 button:hover,.button3 button:hover,.button4 button:hover,.button5 button:hover{
  background-color:rgba(65, 105, 225,0.5);
}
/* footer */
.box6{
  width:auto;
  height: auto;
  background: linear-gradient(to right, gold,blue,red,aqua) ; 
  box-shadow: 0px 0px 1px goldenrod;
 
}

.footer {
  display:flex;
  justify-content: space-between;
  padding: 0% 15%;
  h4{
    font-size: 30px;
    cursor: pointer;
    text-shadow:gold;
    a{
      text-decoration: none;
      color: black;
      
    }
    
  }
}

.privacyterms{
  display:flex;
  justify-content: space-between;
  padding: 0% 40%;
  h6{
    font-size:15px;
    cursor: pointer;
    text-shadow:gold;
  
    a{
      text-decoration: none;
      color: black;
    }
  } 
}
h4:hover #f1{
 color: red;
 font-size: 40px;
}
h4:hover #f2{
  color: red;
 font-size: 40px;
}

h4:hover #f3{
  color: red;
  font-size: 40px;
}
h6:hover #f4{
  color: green;
  font-size: 20px;
}
h6:hover #f5{
  color: green;
  font-size: 20px;
}


h4:active #f1{
  color: gold;
}
h4:active #f2{
  color: gold;
}
h4:active #f3{
  color: gold;
}
h6:active #f4{
  color: red;
}
h6:active #f5{
  color: red;
}

/* python course */
.pythoncourse h3{
  text-align: center;
  font-size: 30px;

}

.files{
  width: auto;
  height: 400px;
  background: linear-gradient(center);
  box-shadow: 0px 0px 10px;
margin: 10px 10px;
  
}

.files a{
  font-size: 40px;
  margin: 50rem 40rem ;
  padding: auto 10rem; 
}

.files img{
  padding: 0rem 25rem;
}


/* .box .float p{
  width: 1000px;
  height: 600px;
  background-color: white;
  box-shadow: -10px 10px 30px goldenrod;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  margin: -200% 50%;
  float: left;
  display: none;
  
  

}
.box .float:hover p{
  display: block;
}  */
/* boxtexto hover */
/* .boxtext h3 {
  width: 1000px;
  height: 500px;
  background-color:white ;
  box-shadow: 0px 0px 10px red;
  margin: -20% 70%;
  
  display: none;


}
.boxtext:hover h3{
  display: block;
  
}   */