
input, select, textarea{
    color:white;
    font-size: large;
}
#hr1{
    margin-top: 50px;
    
    height: 1px;
    background-color:white;

}
#hr2{
    
   width: 270px;
   margin-top: 10px;
 
  
    
}
.dirboxes{
    display:flex;
    gap: 2rem;
    margin-top: 10px;
    margin-left: 55px;
}
.title1{
    height: 50px;
    width:350px ;
    border: 2px solid grey;
    display: flex;
    margin-left: 54px;
    margin-top: 20px;
    border-radius: 20px;

    
}
.title1 h2{
    color: white;
    justify-content:space-between;
    
  margin: auto;
    background-color: red;
}

.box7{
    width:350px;
    height:500px;
    border: 2px solid grey;
    overflow:auto;
    display: inline-flexbox;
    
}


.search-bar{
    display: flex;
    margin-left: 35px;
    margin-top: 20px;
    border: 4px solid grey;
    height: 40px;
    width: 270px;
    border-radius: 15px;
    
}
 #input{
    height: 40px;
    background: rgba(227, 113, 113, 0);
    padding:0px 0px 0px;
    display: flex;
    width: 220px;
    
    border: none;
    outline: none;

 } 
 .button{
    height: 40px;
    margin-left: 49px;
    padding: 0px 0px 0px;
    width: 40px;
    display: flex;
    margin-left:0px ;
    width: 50px;
    color: rgba(127, 255, 212, 0);
    border: none;
    outline: none;
    background-color: rgba(251, 251, 233, 0.196);

    
 }
 a{
    color: red;
 }

.title2{
    margin-top: 20px;
    background-color: red;
}



.box8{
    width: 700px;
    height: 500px;
    border: 1px solid grey;
}